<div *ngFor="let notice of notices">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{notice.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{notice.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <mat-checkbox mat-chec [checked]="notice.seen" (click)="updateRead(notice)">Lido</mat-checkbox>
      <button> <mat-icon (click)="deleteNotice(notice.id)">delete</mat-icon> </button>
    </mat-card-actions>
  </mat-card>
</div>

<button mat-raised-button (click)="updateClick()">Criar Aviso</button>

<div *ngIf="clicked">
  <form>
    <mat-label>Título: </mat-label>
    <input #box (keyup)="updateTitle(box.value)">

    <mat-label>Descrição: </mat-label>
    <input #box2 (keyup.enter)="createNotice()"  (keyup)="updateSub(box2.value)">
  </form>

  <button mat-raised-button (click)="createNotice()">Criar Aviso</button>
</div>
